# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
AUTH_SECRET="REPLACEME"
AUTH_GITHUB_ID="REPLACEME"
AUTH_GITHUB_SECRET="REPLACEME"

POSTGRES_URL="REPLACEME"
POSTGRES_PRISMA_URL="REPLACEME"
POSTGRES_URL_NO_SSL="REPLACEME"
POSTGRES_URL_NON_POOLING="REPLACEME"
POSTGRES_USER="REPLACEME"
POSTGRES_HOST="REPLACEME"
POSTGRES_PASSWORD="REPLACEME"
POSTGRES_DATABASE="REPLACEME"

STREAM_APP_SECRET="REPLACEME"

NEXT_PUBLIC_STREAM_API_KEY="REPLACEME"